/* src/index.css */
:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* Removemos o color-scheme forçado para evitar conflitos visuais */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset básico para garantir tela cheia */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* O Layout.css vai gerenciar o scroll agora */
}

body {
  background-color: #f4f6f8;
  /* IMPORTANTE: Removemos 'display: flex' e 'place-items: center' daqui */
}

/* Garante que o React monte na tela inteira */
#root {
  width: 100%;
  height: 100%;
}